body{
    background-color: rgb(50, 50, 50);
}
h1{
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-style: oblique;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-style: oblique;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-style: oblique;
}

p{
    color: aliceblue;
}
div{
    margin: auto;
    text-align: center;
}
form{
    width: 50%;
}
label{
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
}

.project{    
    background-color: rgb(25, 25, 25);
    border-radius: 5%;
    width: 50%;
    height: 30%;
    margin-top: 5%;
    margin-left: 5%;
}

.bar{
    display: grid;
    grid-template-columns:auto;
    grid-gap: 10px;
    
}

.one{
    grid-column: 1;
}

.two{
    grid-column: 2;
}

.three{
    grid-column: 3;
}